@charset "UTF-8";
@font-face {
    font-family:'gothic';
    src: url(yu-gothic-bold.ttf);
}
body{
    font-family: 'gothic';
}
*{
    margin: 0px;
    padding: 0px;
}
header{
    border-bottom: 1px solid rgba(255, 255, 255, 0.685);
}
img#logoh{
    width: 100px;

}
header a{
    color: red;
    text-decoration: none;
    font-size: 1.2em;
    padding: 4px;
}
header img#monstro{

}
main P{
    text-align: center;
    color: #FFFFFF;
    font-size: 40px;
    font-weight: bold;
}
div img{
    text-align: center;
    display: block;
    margin: auto;
}
#logo{
    position: relative;
}
body{
    background-color: black;
}
