@charset "UTF-8";
@font-face {
    font-family:'gothic';
    src: url(yu-gothic-bold.ttf);
}
body{
    font-family: 'gothic';
}
*{
    margin: 0px;
    padding: 0px;
}
header a{
    color: red;
    text-decoration: none;
    font-size: 1.2em;
    padding: 4px;
}
header img#monstro{
    position: absolute;
    left: auto;
}
#logo{
    margin-top: 400px;
    position: relative;
}
body{
    background-color: black;
}
header{
    border: 1px solid white;
}